[user]
	name = Dmitriy Likhten
	email = dlikhten@gmail.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
	ui = 1
[format]
	pretty = fuller
[pull-requests]
  source-branch = develop
[alias]
  st = status
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  newcase = "!f() { git checkout resolved && git pull --rebase && git checkout -b case/$1; }; f"
  logp = log -w -p --follow
  wip = !git add -u && git commit -m "WIP"
	undo-commit = reset --soft HEAD^
	list-ignored = !git ls-files -v | grep \"^[[:lower:]]\"
  github-location = "!f() { git remote -v | grep 'origin' | grep '(push)' | sed 's/.*git@github.com://' | sed 's/\\.git.*//'; }; f"
  pull-request = !git push origin && open "https://github.com/`git github-location`/compare/`git config --get pull-requests.source-branch`...`git symbolic-ref --short HEAD`"
  p = push origin
  pf = push origin --force
  pr = pull --rebase origin master
  trigger = commit --allow-empty -m "trigger"

[mergetool]
  keepBackup = true
[push]
	default = current
[core]
	excludesfile = /Users/dmitriy/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[help]
	autocorrect = 10
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[rebase]
  autostash = true
[commit]
	template = /Users/dmitriy/.stCommitMsg
